{{- if or (.Values.serviceMonitor.enabled) (.Values.serviceMetric.enabled) }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "fluentd-elasticsearch.fullname" $ }}-metrics
  labels:
{{ include "fluentd-elasticsearch.labels" . | indent 4 }}
    {{- if semverCompare "> 1.6" .Capabilities.KubeVersion.GitVersion }}
    kubernetes.io/cluster-service: "true"
    {{- end }}
    addonmanager.kubernetes.io/mode: Reconcile
  annotations:
    giantswarm.io/monitoring: "true"
    giantswarm.io/monitoring-path: /metrics
    giantswarm.io/monitoring-port: {{ .Values.serviceMonitor.port | quote }}
spec:
  type: {{ .Values.serviceMonitor.type }}
  ports:
    - name: metrics
      port: {{ .Values.serviceMonitor.port }}
      targetPort: {{ .Values.serviceMonitor.port }}
  selector:
    app.kubernetes.io/name: {{ include "fluentd-elasticsearch.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}
